/*-- scss:defaults --*/
$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #523178;
$presentation-title-slide-text-align: "left";
$link-color: #3A5883;
$code-color: #3A5883;
$code-block-font-size: 0.6em;
$presentation-font-size-root: 45px;
$presentation-h2-font-size: 1.2em;
